{{ $paginator := .Paginator }}
{{ if gt $paginator.TotalPages 1 }}
<div class="pagination">
  <div class="pagination__buttons">
    {{ if $paginator.HasPrev }}
      <a href="{{ $paginator.Prev.URL }}" class="pagination-btn prev">&lt;</a>
    {{ end }}

    {{ range $paginator.Pagers }}
      {{ if eq .PageNumber $paginator.PageNumber }}
        <span class="pagination-btn active">{{ .PageNumber }}</span>
      {{ else }}
        <a href="{{ .URL }}" class="pagination-btn">{{ .PageNumber }}</a>
      {{ end }}
    {{ end }}

    {{ if $paginator.HasNext }}
      <a href="{{ $paginator.Next.URL }}" class="pagination-btn next">&gt;</a>
    {{ end }}
  </div>
</div>
{{ end }}